<% provide(:title, 'お問い合わせ') %>
<h1>Contact</h1>
<p> ご連絡は下記アドレスにお願いいたします。</p>
<p>a_drowning_apple@yahoo.co.jp</p>

<p>ポートフォリオ</p>
<a href="https://kd-portfolio-01.herokuapp.com/"></a>
<a href="https://www.wantedly.com/users/51291784">Wantedly</a>