<h1>Sample App</h1>

<p>こんにちは、 <%= @user.name %>,</p>

<p>
下記リンクより、アカウントの有効化を行ってください！:
</p>

<%= link_to "有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>